.carousel-item foto {
    text-align: center;
    text-shadow: 1px;
}

body {
    text-align: center !important;
    background-color: red !important;
}

h2 {
    text-decoration: aqua;
}

img {
    width: 200px;
    height: 600px;
}
